<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img
 src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/alx-courses/aice/assets/Content_page_banner_blue_dots.png"
 alt="ALX Content Header"
 class="full-width-image"
/>
</div>

# Aggregation using window functions

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

- Understand the concept of window functions in SQL.
- Learn how to use window functions for data aggregation.
- Understand how to use window functions to partition data.
- Practise using window functions to solve complex problems.

## Overview

In this notebook, we will explore how to use window functions in SQL to solve complex problems. Window functions are a type of function in SQL that performs a calculation across a set of table rows that are related to the current row.

We will use the `united_nations.Access_to_Basic_Services` table, which contains information about different countries, their GDP, and access to basic services.

Let's begin by calculating each country's land cover as a percentage per subregion for the year 2020.

### Connecting to our MySQL database

Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [2]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.

%load_ext sql

In [4]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name.

%sql mysql+pymysql://root:12122001UPi@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

In [6]:
%%sql
SELECT * FROM Access_to_Basic_Services

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1048 rows affected.

+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|           Region          |  Sub_region  | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2015    |                94.67                |              98.00              |         17.542806          |        184.39       | 2699700.00 |       4.93       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2016    |                94.67                |              98.00              |         17.794055          |        137.28       | 2699700.00 |       4.96       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2017    |                95.00                |              98.00              |         18.037776          |        166.81       | 2699700.00 |       4.90       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2018    |                95.00                |              98.00              |         18.276452          |        179.34       | 2699700.00 |       4.85       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2019    |                95.00                |              98.00              |         18.513673          |        181.67       | 2699700.00 |       4.80       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2020    |                95.00                |              98.00              |         18.755666          |        171.08       | 2699700.00 |       4.89       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2015    |                89.67                |              96.67              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2016    |                90.33                |              96.67              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2017    |                91.00                |              97.33              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2018    |                91.33                |              97.33              |            None            |         None        |    None    |       None       |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
Truncated to displaylimit of 10.

## Exercise

### Task 1: Select the data required for the analysis

The columns you select should include:
- `Sub_region`
- `Country_name`
- `Land_area`

Filter out the results using the following criteria:
- For the `Time_period` of `2020`.
- For `Land_area` values that are not missing.

In [5]:
%%sql
SELECT 
    Sub_region, Country_name, Land_area 
FROM 
    Access_to_Basic_Services 
WHERE 
    Time_Period = 2020 
AND 
    Land_area IS NOT NULL;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

130 rows affected.

+---------------+--------------+------------+
|   Sub_region  | Country_name | Land_area  |
+---------------+--------------+------------+
|  Central Asia |  Kazakhstan  | 2699700.00 |
|  Central Asia |  Tajikistan  | 138790.00  |
|  Central Asia | Turkmenistan | 469930.00  |
|  Central Asia |  Uzbekistan  | 440650.00  |
| Southern Asia | Afghanistan  | 652230.00  |
| Southern Asia |  Bangladesh  | 130170.00  |
| Southern Asia |    Bhutan    |  38140.00  |
| Southern Asia |    India     | 2973190.00 |
| Southern Asia |   Maldives   |   300.00   |
| Southern Asia |    Nepal     | 143350.00  |
+---------------+--------------+------------+
Truncated to displaylimit of 10.

### Task 2: Calculate the land area covered as a percentage of the country's subregion


Calculate each land area as a percentage within its sub_region:
- Divide the `Land_area` by the `SUM()` `BY` the areas `OVER` each `Sub_region`'s `PARTITION`. Name this column `pct_sub_region_land_area`.
- `Round` the calculation off to `4` decimal places.

Add this line to the query from the first task.

In [25]:
%%sql
SELECT 
    Sub_region, Country_name, ROUND(Land_Area/SUM(Land_area) OVER(PARTITION BY Sub_region)*100, 4) AS  pct_sub_region_land_area
FROM 
    Access_to_Basic_Services 
WHERE 
    Time_Period = 2020 
AND 
    Land_area IS NOT NULL;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

130 rows affected.

+---------------------------+------------------------+--------------------------+
|         Sub_region        |      Country_name      | pct_sub_region_land_area |
+---------------------------+------------------------+--------------------------+
| Australia and New Zealand |       Australia        |         96.6901          |
| Australia and New Zealand |      New Zealand       |          3.3099          |
|         Caribbean         |        Jamaica         |          5.2809          |
|         Caribbean         |  Trinidad and Tobago   |          2.5015          |
|         Caribbean         |        Barbados        |          0.2097          |
|         Caribbean         | British Virgin Islands |          0.0731          |
|         Caribbean         |          Cuba          |         50.6144          |
|         Caribbean         |   Dominican Republic   |         23.5567          |
|         Caribbean         |         Haiti          |         13.4387          |
|         Caribbean         |      Puerto Rico       |          4.3251          |
+---------------------------+------------------------+--------------------------+
Truncated to displaylimit of 10.

### Task 3: Calculate The running population average for each country's subregion

Start by selecting the columns needed for this analysis:
- `Sub_region`
- `Country_name`
- `Time_period`
- `Pct_managed_drinking_water_services`
- `Pct_managed_sanitation_services`
- `Est_gdp_in_billions`
- `Est_population_in_millions`

Calculate the running average:
- Calculate the `AVG()` of the `Est_population_in_millions`.
- `PARTITION` the calculation `OVER` each country's `Sub_region`, and name this column `Running_average_population`.
- `ROUND` the calculation off to `4` decimal places.
- Filter the results `WHERE` there are values of `Est_gdp_in_billions` that are `NOT NULL`.

In [22]:
%%sql
SELECT 
    Sub_region,
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    ROUND(AVG(Est_population_in_millions) OVER(PARTITION BY  Sub_region), 4)AS  Running_average_population
FROM 
    Access_to_Basic_Services
WHERE Est_gdp_in_billions IS NOT NULL;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

800 rows affected.

+---------------------------+--------------+-------------+-------------------------------------+---------------------------------+---------------------+----------------------------+
|         Sub_region        | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_gdp_in_billions | Running_average_population |
+---------------------------+--------------+-------------+-------------------------------------+---------------------------------+---------------------+----------------------------+
| Australia and New Zealand | New Zealand  |     2020    |                100.00               |              100.00             |        211.73       |          14.8059           |
| Australia and New Zealand | New Zealand  |     2019    |                100.00               |              100.00             |        213.43       |          14.8059           |
| Australia and New Zealand | New Zealand  |     2018    |                100.00               |              100.00             |        211.95       |          14.8059           |
| Australia and New Zealand | New Zealand  |     2017    |                100.00               |              100.00             |        206.62       |          14.8059           |
| Australia and New Zealand | New Zealand  |     2016    |                100.00               |              100.00             |        188.84       |          14.8059           |
| Australia and New Zealand | New Zealand  |     2015    |                100.00               |              100.00             |        178.06       |          14.8059           |
| Australia and New Zealand |  Australia   |     2020    |                100.00               |              100.00             |       1326.90       |          14.8059           |
| Australia and New Zealand |  Australia   |     2019    |                100.00               |              100.00             |       1392.23       |          14.8059           |
| Australia and New Zealand |  Australia   |     2018    |                100.00               |              100.00             |       1428.29       |          14.8059           |
| Australia and New Zealand |  Australia   |     2017    |                100.00               |              100.00             |       1326.52       |          14.8059           |
+---------------------------+--------------+-------------+-------------------------------------+---------------------------------+---------------------+----------------------------+
Truncated to displaylimit of 10.

## Solutions

### Task 1: Select the data required for the analysis

In [23]:
%%sql
SELECT 
	Sub_region,
    Country_name,
    Land_area
FROM united_nations.Access_to_Basic_Services
WHERE Time_period = 2020
AND Land_area IS NOT NULL;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

130 rows affected.

+---------------+--------------+------------+
|   Sub_region  | Country_name | Land_area  |
+---------------+--------------+------------+
|  Central Asia |  Kazakhstan  | 2699700.00 |
|  Central Asia |  Tajikistan  | 138790.00  |
|  Central Asia | Turkmenistan | 469930.00  |
|  Central Asia |  Uzbekistan  | 440650.00  |
| Southern Asia | Afghanistan  | 652230.00  |
| Southern Asia |  Bangladesh  | 130170.00  |
| Southern Asia |    Bhutan    |  38140.00  |
| Southern Asia |    India     | 2973190.00 |
| Southern Asia |   Maldives   |   300.00   |
| Southern Asia |    Nepal     | 143350.00  |
+---------------+--------------+------------+
Truncated to displaylimit of 10.

### Task 2: Calculate the land area covered as a percentage of the country's subregion

In [24]:
%%sql
SELECT
    Sub_region,
    Country_name,
    Land_area,
    ROUND(Land_area/SUM(Land_area) OVER (PARTITION BY sub_region)*100,4) AS pct_sub_region_land_area
FROM united_nations.access_to_basic_services
    WHERE time_period = 2020
    AND Land_area IS NOT NULL;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

130 rows affected.

+---------------------------+------------------------+------------+--------------------------+
|         Sub_region        |      Country_name      | Land_area  | pct_sub_region_land_area |
+---------------------------+------------------------+------------+--------------------------+
| Australia and New Zealand |       Australia        | 7692020.00 |         96.6901          |
| Australia and New Zealand |      New Zealand       | 263310.00  |          3.3099          |
|         Caribbean         |        Jamaica         |  10830.00  |          5.2809          |
|         Caribbean         |  Trinidad and Tobago   |  5130.00   |          2.5015          |
|         Caribbean         |        Barbados        |   430.00   |          0.2097          |
|         Caribbean         | British Virgin Islands |   150.00   |          0.0731          |
|         Caribbean         |          Cuba          | 103800.00  |         50.6144          |
|         Caribbean         |   Dominican Republic   |  48310.00  |         23.5567          |
|         Caribbean         |         Haiti          |  27560.00  |         13.4387          |
|         Caribbean         |      Puerto Rico       |  8870.00   |          4.3251          |
+---------------------------+------------------------+------------+--------------------------+
Truncated to displaylimit of 10.

### Task 3: Calculate The running population average for each country's subregion

In [26]:
%%sql
SELECT 
    Sub_region,
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    Est_population_in_millions,
    ROUND(AVG(Est_population_in_millions) OVER (PARTITION BY Sub_region ORDER BY Time_period),4) AS Running_average_population
FROM united_nations.access_to_basic_services
    WHERE Est_gdp_in_billions IS NOT NULL;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

800 rows affected.

+---------------------------+--------------+-------------+-------------------------------------+---------------------------------+---------------------+----------------------------+----------------------------+
|         Sub_region        | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_gdp_in_billions | Est_population_in_millions | Running_average_population |
+---------------------------+--------------+-------------+-------------------------------------+---------------------------------+---------------------+----------------------------+----------------------------+
| Australia and New Zealand |  Australia   |     2015    |                100.00               |              100.00             |       1350.62       |         23.815995          |          14.2127           |
| Australia and New Zealand | New Zealand  |     2015    |                100.00               |              100.00             |        178.06       |          4.609400          |          14.2127           |
| Australia and New Zealand | New Zealand  |     2016    |                100.00               |              100.00             |        188.84       |          4.714100          |          14.3326           |
| Australia and New Zealand |  Australia   |     2016    |                100.00               |              100.00             |       1206.54       |         24.190907          |          14.3326           |
| Australia and New Zealand |  Australia   |     2017    |                100.00               |              100.00             |       1326.52       |         24.594202          |          14.4564           |
| Australia and New Zealand | New Zealand  |     2017    |                100.00               |              100.00             |        206.62       |          4.813600          |          14.4564           |
| Australia and New Zealand | New Zealand  |     2018    |                100.00               |              100.00             |        211.95       |          4.900600          |          14.5757           |
| Australia and New Zealand |  Australia   |     2018    |                100.00               |              100.00             |       1428.29       |         24.966643          |          14.5757           |
| Australia and New Zealand | New Zealand  |     2019    |                100.00               |              100.00             |        213.43       |          4.979200          |          14.6925           |
| Australia and New Zealand |  Australia   |     2019    |                100.00               |              100.00             |       1392.23       |         25.340217          |          14.6925           |
+---------------------------+--------------+-------------+-------------------------------------+---------------------------------+---------------------+----------------------------+----------------------------+
Truncated to displaylimit of 10.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:100px"  ;/>
</div>