<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img
 src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/alx-courses/aice/assets/Content_page_banner_blue_dots.png"
 alt="ALX Content Header"
 class="full-width-image"
/>
</div>

# Union

In this notebook, we will learn how to merge and consolidate data from multiple tables efficiently by combining query results and creating comprehensive summaries using the UNION operator.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

By the end of this train, you will:
- Understand the concept of UNION and its significance in combining multiple query results. 
- Know how to use the UNION operator to merge data from different tables with similar structures. 
- Comprehend the process of creating a summary by merging results from multiple SELECT statements.

## Overview

Suppose we want a summary of estimated unemployment rates per country for each given time period, and we expect that certain data entries of the unemployment rates might be missing.

To address this issue, we intend to replace the absent values by using the regional estimated unemployment rates available in the table below, in order to enhance the completeness of our summary.

|Region|Pct_regional_unemployment|
|---|---|
|Central and Southern Asia|     19.59    |
|Eastern and South-Eastern Asia|  22.64  |
|Europe and Northern America|     24.43   |
|Latin America and the Caribbean|  24.23 |
|Northern Africa and Western Asia| 17.84 |
|Oceania|                          4.98 |
|Sub-Saharan Africa|              33.65  |

*Table 1: Regional estimated unemployment rates.*

To put it differently, according to the flow chart's instructions, for every country belonging to the Central and Southern Asia region, if there is no recorded percentage for the unemployment rate, we should substitute it with the regional data, which is `19.59` in this specific instance.

The same procedure applies to other regions as well, where each missing unemployment rate should be replaced with its respective regional data.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Union_flow_chart.png"  style="background-color:white;";/>
<br>
<br>
    <em>Figure 1: Union flow chart</em>
</div>

## Connecting to the MySQL database

We'll start by connecting to the `united_nations` database. To connect to the MySQL server, run the cells below.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:12122001UPi@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

In [12]:
%config SqlMagic.displaylimit = None;

displaylimit: Value None will be treated as 0 (no limit)


We'll be working with two tables: `Geographic_Location`, which contains information about countries and their regions, and `Economic_Indicators`, which holds data on unemployment rates for each country over time.


Let’s fetch a list of countries belonging to the **Central and Southern Asia region**. 

**NOTE:** Each region will eventually have its own `SELECT` statement and this region is simply the starting point to illustrate the process.

In [3]:
%%sql

SELECT 
	loc.Country_name 
FROM 
	united_nations.Geographic_Location AS loc 
WHERE REGION LIKE '%Central and Southern Asia%';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

14 rows affected.

+----------------------------+
|        Country_name        |
+----------------------------+
|        Afghanistan         |
|         Bangladesh         |
|           Bhutan           |
|           India            |
| Iran (Islamic Republic of) |
|         Kazakhstan         |
|         Kyrgyzstan         |
|          Maldives          |
|           Nepal            |
|          Pakistan          |
+----------------------------+
Truncated to displaylimit of 10.

## Exercise

### 1. Join tables

Obtain `Time_period` and `Pct_unemployment` columns for each country by combining the `Geographic_Location` and `Economic_Indicators` tables based on the `Country_name`.

In [8]:
%%sql
SELECT 
	loc.Country_name,
    eco.Time_period,
    eco.Pct_unemployment
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
     united_nations.Economic_Indicators AS eco
ON loc.Country_name = eco.Country_name
WHERE REGION LIKE '%Central and Southern Asia%'

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

84 rows affected.

+--------------+-------------+------------------+
| Country_name | Time_period | Pct_unemployment |
+--------------+-------------+------------------+
| Afghanistan  |     2015    |       None       |
| Afghanistan  |     2016    |       None       |
| Afghanistan  |     2017    |      11.18       |
| Afghanistan  |     2018    |       None       |
| Afghanistan  |     2019    |       None       |
| Afghanistan  |     2020    |      11.71       |
|  Bangladesh  |     2015    |       None       |
|  Bangladesh  |     2016    |       4.35       |
|  Bangladesh  |     2017    |       4.37       |
|  Bangladesh  |     2018    |       None       |
+--------------+-------------+------------------+
Truncated to displaylimit of 10.

### 2. Impute `NULL` values

To enhance the completeness of our summary, we'll address missing unemployment rate values. If any unemployment rate is absent, we'll replace it with the regional data, which is 19.59 in this case. We will then save this column as `Pct_unemployment_imputed`.

In [10]:
%%sql
SELECT 
	loc.Country_name,
    eco.Time_period,
    IFNULL(eco.Pct_unemployment, 19.59) AS Pct_unemployment_imputed
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
     united_nations.Economic_Indicators AS eco
ON loc.Country_name = eco.Country_name
WHERE REGION LIKE '%Central and Southern Asia%'

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

84 rows affected.

+--------------+-------------+--------------------------+
| Country_name | Time_period | Pct_unemployment_imputed |
+--------------+-------------+--------------------------+
| Afghanistan  |     2015    |          19.59           |
| Afghanistan  |     2016    |          19.59           |
| Afghanistan  |     2017    |          11.18           |
| Afghanistan  |     2018    |          19.59           |
| Afghanistan  |     2019    |          19.59           |
| Afghanistan  |     2020    |          11.71           |
|  Bangladesh  |     2015    |          19.59           |
|  Bangladesh  |     2016    |           4.35           |
|  Bangladesh  |     2017    |           4.37           |
|  Bangladesh  |     2018    |          19.59           |
+--------------+-------------+--------------------------+
Truncated to displaylimit of 10.

### 3. Repeat for other regions

We can now repeat this process for various regions. We will use the `UNION` operator to combine the `SELECT` statements.

In [16]:
%%sql
SELECT 
	loc.Country_name,
    eco.Time_period,
    IFNULL(eco.Pct_unemployment, 19.59) AS Pct_unemployment_imputed
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
     united_nations.Economic_Indicators AS eco
ON loc.Country_name = eco.Country_name
WHERE REGION LIKE '%Central and Southern Asia%'

UNION

SELECT 
	loc.Country_name,
    eco.Time_period,
    IFNULL(eco.Pct_unemployment, 22.64) AS Pct_unemployment_imputed
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
     united_nations.Economic_Indicators AS eco
ON loc.Country_name = eco.Country_name
WHERE REGION LIKE '%Eastern and South-Eastern Asia%'

UNION

    
SELECT 
	loc.Country_name,
    eco.Time_period,
    IFNULL(eco.Pct_unemployment, 24.43) AS Pct_unemployment_imputed
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
     united_nations.Economic_Indicators AS eco
ON loc.Country_name = eco.Country_name
WHERE REGION LIKE '%Europe and Northern America%'

UNION

SELECT 
	loc.Country_name,
    eco.Time_period,
    IFNULL(eco.Pct_unemployment, 24.23) AS Pct_unemployment_imputed
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
     united_nations.Economic_Indicators AS eco
ON loc.Country_name = eco.Country_name
WHERE REGION LIKE '%Latin America and the Caribbean%'

UNION

SELECT 
	loc.Country_name,
    eco.Time_period,
    IFNULL(eco.Pct_unemployment, 17.84) AS Pct_unemployment_imputed
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
     united_nations.Economic_Indicators AS eco
ON loc.Country_name = eco.Country_name
WHERE REGION LIKE '%Northern Africa and Western Asia%'

UNION

SELECT 
	loc.Country_name,
    eco.Time_period,
    IFNULL(eco.Pct_unemployment, 4.98) AS Pct_unemployment_imputed
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
     united_nations.Economic_Indicators AS eco
ON loc.Country_name = eco.Country_name
WHERE REGION LIKE '%Oceania%'

UNION


SELECT 
	loc.Country_name,
    eco.Time_period,
    IFNULL(eco.Pct_unemployment, 33.65) AS Pct_unemployment_imputed
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
     united_nations.Economic_Indicators AS eco
ON loc.Country_name = eco.Country_name
WHERE REGION LIKE '%Sub-Saharan Africa%'

LIMIT 200;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

200 rows affected.

+---------------------------------------+-------------+--------------------------+
|              Country_name             | Time_period | Pct_unemployment_imputed |
+---------------------------------------+-------------+--------------------------+
|              Afghanistan              |     2015    |          19.59           |
|              Afghanistan              |     2016    |          19.59           |
|              Afghanistan              |     2017    |          11.18           |
|              Afghanistan              |     2018    |          19.59           |
|              Afghanistan              |     2019    |          19.59           |
|              Afghanistan              |     2020    |          11.71           |
|               Bangladesh              |     2015    |          19.59           |
|               Bangladesh              |     2016    |           4.35           |
|               Bangladesh              |     2017    |           4.37           |
|               Bangladesh              |     2018    |          19.59           |
|               Bangladesh              |     2019    |          19.59           |
|               Bangladesh              |     2020    |          19.59           |
|                 Bhutan                |     2015    |           2.45           |
|                 Bhutan                |     2016    |          19.59           |
|                 Bhutan                |     2017    |          19.59           |
|                 Bhutan                |     2018    |           3.35           |
|                 Bhutan                |     2019    |           2.72           |
|                 Bhutan                |     2020    |           5.03           |
|                 India                 |     2015    |          19.59           |
|                 India                 |     2016    |          19.59           |
|                 India                 |     2017    |          19.59           |
|                 India                 |     2018    |           7.65           |
|                 India                 |     2019    |           6.51           |
|                 India                 |     2020    |           7.86           |
|       Iran (Islamic Republic of)      |     2015    |          19.59           |
|       Iran (Islamic Republic of)      |     2016    |          19.59           |
|       Iran (Islamic Republic of)      |     2017    |          19.59           |
|       Iran (Islamic Republic of)      |     2018    |          19.59           |
|       Iran (Islamic Republic of)      |     2019    |          19.59           |
|       Iran (Islamic Republic of)      |     2020    |          19.59           |
|               Kazakhstan              |     2015    |           4.93           |
|               Kazakhstan              |     2016    |           4.96           |
|               Kazakhstan              |     2017    |           4.90           |
|               Kazakhstan              |     2018    |           4.85           |
|               Kazakhstan              |     2019    |           4.80           |
|               Kazakhstan              |     2020    |           4.89           |
|               Kyrgyzstan              |     2015    |          19.59           |
|               Kyrgyzstan              |     2016    |          19.59           |
|               Kyrgyzstan              |     2017    |          19.59           |
|               Kyrgyzstan              |     2018    |          19.59           |
|               Kyrgyzstan              |     2019    |          19.59           |
|               Kyrgyzstan              |     2020    |          19.59           |
|                Maldives               |     2015    |          19.59           |
|                Maldives               |     2016    |           5.77           |
|                Maldives               |     2017    |          19.59           |
|                Maldives               |     2018    |          19.59           |
|                Maldives               |     2019    |           4.56           |
|                Maldives               |     2020    |          19.59           |
|                 Nepal                 |     2015    |           3.10           |
|                 Nepal                 |     2016    |          19.59           |
|                 Nepal                 |     2017    |          10.66           |
|                 Nepal                 |     2018    |          19.59           |
|                 Nepal                 |     2019    |          19.59           |
|                 Nepal                 |     2020    |          19.59           |
|                Pakistan               |     2015    |           3.57           |
|                Pakistan               |     2016    |          19.59           |
|                Pakistan               |     2017    |          19.59           |
|                Pakistan               |     2018    |           4.08           |
|                Pakistan               |     2019    |           4.83           |
|                Pakistan               |     2020    |          19.59           |
|               Sri Lanka               |     2015    |           4.52           |
|               Sri Lanka               |     2016    |           4.24           |
|               Sri Lanka               |     2017    |           4.05           |
|               Sri Lanka               |     2018    |           4.32           |
|               Sri Lanka               |     2019    |           4.67           |
|               Sri Lanka               |     2020    |           5.36           |
|               Tajikistan              |     2015    |          19.59           |
|               Tajikistan              |     2016    |           6.90           |
|               Tajikistan              |     2017    |          19.59           |
|               Tajikistan              |     2018    |          19.59           |
|               Tajikistan              |     2019    |          19.59           |
|               Tajikistan              |     2020    |          19.59           |
|              Turkmenistan             |     2015    |          19.59           |
|              Turkmenistan             |     2016    |          19.59           |
|              Turkmenistan             |     2017    |          19.59           |
|              Turkmenistan             |     2018    |          19.59           |
|              Turkmenistan             |     2019    |          19.59           |
|              Turkmenistan             |     2020    |          19.59           |
|               Uzbekistan              |     2015    |           5.15           |
|               Uzbekistan              |     2016    |           5.16           |
|               Uzbekistan              |     2017    |           5.83           |
|               Uzbekistan              |     2018    |           9.35           |
|               Uzbekistan              |     2019    |           8.98           |
|               Uzbekistan              |     2020    |           5.29           |
|           Brunei Darussalam           |     2015    |          22.64           |
|           Brunei Darussalam           |     2016    |          22.64           |
|           Brunei Darussalam           |     2017    |           9.32           |
|           Brunei Darussalam           |     2018    |           8.70           |
|           Brunei Darussalam           |     2019    |           6.60           |
|           Brunei Darussalam           |     2020    |           7.41           |
|                Cambodia               |     2015    |           0.39           |
|                Cambodia               |     2016    |           0.72           |
|                Cambodia               |     2017    |           0.14           |
|                Cambodia               |     2018    |          22.64           |
|                Cambodia               |     2019    |           0.50           |
|                Cambodia               |     2020    |          22.64           |
|                 China                 |     2015    |          22.64           |
|                 China                 |     2016    |          22.64           |
|                 China                 |     2017    |           3.90           |
|                 China                 |     2018    |           4.93           |
|                 China                 |     2019    |           5.15           |
|                 China                 |     2020    |           5.61           |
| Democratic People's Republic of Korea |     2015    |          22.64           |
| Democratic People's Republic of Korea |     2016    |          22.64           |
| Democratic People's Republic of Korea |     2017    |          22.64           |
| Democratic People's Republic of Korea |     2018    |          22.64           |
| Democratic People's Republic of Korea |     2019    |          22.64           |
| Democratic People's Republic of Korea |     2020    |          22.64           |
|               Indonesia               |     2015    |           4.51           |
|               Indonesia               |     2016    |           4.30           |
|               Indonesia               |     2017    |           3.78           |
|               Indonesia               |     2018    |           4.39           |
|               Indonesia               |     2019    |           3.59           |
|               Indonesia               |     2020    |           4.25           |
|                 Japan                 |     2015    |           3.39           |
|                 Japan                 |     2016    |           3.13           |
|                 Japan                 |     2017    |           2.82           |
|                 Japan                 |     2018    |           2.47           |
|                 Japan                 |     2019    |           2.35           |
|                 Japan                 |     2020    |           2.81           |
|    Lao People's Democratic Republic   |     2015    |          22.64           |
|    Lao People's Democratic Republic   |     2016    |          22.64           |
|    Lao People's Democratic Republic   |     2017    |          22.64           |
|    Lao People's Democratic Republic   |     2018    |          22.64           |
|    Lao People's Democratic Republic   |     2019    |          22.64           |
|    Lao People's Democratic Republic   |     2020    |          22.64           |
|                Malaysia               |     2015    |           3.10           |
|                Malaysia               |     2016    |           3.44           |
|                Malaysia               |     2017    |           3.41           |
|                Malaysia               |     2018    |           3.30           |
|                Malaysia               |     2019    |           3.26           |
|                Malaysia               |     2020    |           4.54           |
|                Mongolia               |     2015    |           4.86           |
|                Mongolia               |     2016    |           7.24           |
|                Mongolia               |     2017    |           6.36           |
|                Mongolia               |     2018    |           5.38           |
|                Mongolia               |     2019    |           9.27           |
|                Mongolia               |     2020    |           6.59           |
|                Myanmar                |     2015    |           0.77           |
|                Myanmar                |     2016    |          22.64           |
|                Myanmar                |     2017    |           1.36           |
|                Myanmar                |     2018    |           0.77           |
|                Myanmar                |     2019    |           0.41           |
|                Myanmar                |     2020    |           1.48           |
|              Philippines              |     2015    |           3.07           |
|              Philippines              |     2016    |           2.70           |
|              Philippines              |     2017    |           2.55           |
|              Philippines              |     2018    |           2.34           |
|              Philippines              |     2019    |           2.24           |
|              Philippines              |     2020    |           2.52           |
|           Republic of Korea           |     2015    |          22.64           |
|           Republic of Korea           |     2016    |          22.64           |
|           Republic of Korea           |     2017    |          22.64           |
|           Republic of Korea           |     2018    |          22.64           |
|           Republic of Korea           |     2019    |          22.64           |
|           Republic of Korea           |     2020    |          22.64           |
|               Singapore               |     2015    |           3.79           |
|               Singapore               |     2016    |           4.08           |
|               Singapore               |     2017    |           4.20           |
|               Singapore               |     2018    |          22.64           |
|               Singapore               |     2019    |           3.10           |
|               Singapore               |     2020    |           4.10           |
|                Thailand               |     2015    |           0.60           |
|                Thailand               |     2016    |           0.69           |
|                Thailand               |     2017    |           0.83           |
|                Thailand               |     2018    |           0.77           |
|                Thailand               |     2019    |           0.72           |
|                Thailand               |     2020    |           1.10           |
|              Timor-Leste              |     2015    |          22.64           |
|              Timor-Leste              |     2016    |           4.66           |
|              Timor-Leste              |     2017    |          22.64           |
|              Timor-Leste              |     2018    |          22.64           |
|              Timor-Leste              |     2019    |          22.64           |
|              Timor-Leste              |     2020    |          22.64           |
|                Viet Nam               |     2015    |          22.64           |
|                Viet Nam               |     2016    |          22.64           |
|                Viet Nam               |     2017    |          22.64           |
|                Viet Nam               |     2018    |          22.64           |
|                Viet Nam               |     2019    |          22.64           |
|                Viet Nam               |     2020    |          22.64           |
|                Bermuda                |     2015    |          24.43           |
|                Bermuda                |     2016    |          24.43           |
|                Bermuda                |     2017    |          24.43           |
|                Bermuda                |     2018    |          24.43           |
|                Bermuda                |     2019    |          24.43           |
|                Bermuda                |     2020    |          24.43           |
|                 Canada                |     2015    |           6.91           |
|                 Canada                |     2016    |           7.00           |
|                 Canada                |     2017    |           6.34           |
|                 Canada                |     2018    |           5.83           |
|                 Canada                |     2019    |           5.66           |
|                 Canada                |     2020    |           9.46           |
|               Greenland               |     2015    |           9.10           |
|               Greenland               |     2016    |          24.43           |
|               Greenland               |     2017    |          24.43           |
|               Greenland               |     2018    |          24.43           |
|               Greenland               |     2019    |          24.43           |
|               Greenland               |     2020    |          24.43           |
|       Saint Pierre and Miquelon       |     2015    |          24.43           |
|       Saint Pierre and Miquelon       |     2016    |          24.43           |
+---------------------------------------+-------------+--------------------------+

In [ ]:

# Region	Pct_regional_unemployment
# Central and Southern Asia	19.59
# Eastern and South-Eastern Asia	22.64
# Europe and Northern America	24.43
# Latin America and the Caribbean	24.23
# Northern Africa and Western Asia	17.84
# Oceania	4.98
# Sub-Saharan Africa	33.65

## Solutions

### 1. Join tables

In [ ]:
%%sql

SELECT 
	loc.Country_name, 
	eco.Time_period, 
	eco.Pct_unemployment 
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
	united_nations.Economic_Indicators AS eco 
	ON eco.Country_name = loc.Country_name 
WHERE REGION LIKE '%Central and Southern Asia%';

### 2. Impute `NULL` values

In [ ]:
%%sql

SELECT 
	loc.Country_name, 
	eco.Time_period, 
	IFNULL(eco.Pct_unemployment, 19.59) AS Pct_unemployment_imputed 
FROM 
	united_nations.Geographic_Location AS loc 
LEFT JOIN 
	united_nations.Economic_Indicators AS eco 
	ON eco.Country_name = loc.Country_name 
WHERE REGION LIKE '%Central and Southern Asia%';

### 3. Repeat for other regions

In [ ]:
%%sql

SELECT 
	loc.Country_name, 
	eco.Time_period, 
	IFNULL(eco.Pct_unemployment, 19.59) as Pct_unemployment_imputed 
FROM 
	united_nations.Geographic_Location as loc 
LEFT JOIN 
	united_nations.Economic_Indicators as eco 
	ON eco.Country_name = loc.Country_name 
WHERE REGION LIKE '%Central and Southern Asia%' 

UNION 

SELECT 
	loc.Country_name, 
	eco.Time_period, 
	IFNULL(eco.Pct_unemployment, 22.64) as Pct_unemployment_imputed 
FROM 
	united_nations.Geographic_Location as loc 
LEFT JOIN 
	united_nations.Economic_Indicators as eco 
	ON eco.Country_name = loc.Country_name 
WHERE REGION LIKE '%Eastern and South-Eastern Asia%' 

UNION 

SELECT 
	loc.Country_name, 
	eco.Time_period, 
	IFNULL(eco.Pct_unemployment, 24.43) as Pct_unemployment_imputed 
FROM united_nations.Geographic_Location as loc 
LEFT JOIN 
	united_nations.Economic_Indicators as eco 
	ON eco.Country_name = loc.Country_name 
WHERE REGION LIKE '%Europe and Northern America%' 

UNION 

SELECT 
	loc.Country_name, 
	eco.Time_period, 
	IFNULL(eco.Pct_unemployment, 24.23) as Pct_unemployment_imputed 
FROM united_nations.Geographic_Location as loc 
LEFT JOIN 
	united_nations.Economic_Indicators as eco 
	ON eco.Country_name = loc.Country_name 
WHERE REGION LIKE '%Latin America and the Caribbean%' 

UNION 

SELECT 
	loc.Country_name, 
	eco.Time_period, 
	IFNULL(eco.Pct_unemployment, 17.84) as Pct_unemployment_imputed 
FROM 
	united_nations.Geographic_Location as loc 
LEFT JOIN 
	united_nations.Economic_Indicators as eco 
	ON eco.Country_name = loc.Country_name 
WHERE REGION LIKE '%Northern Africa and Western Asia%' 

UNION 

SELECT 
	loc.Country_name, 
	eco.Time_period, 
	IFNULL(eco.Pct_unemployment, 4.98) as Pct_unemployment_imputed 
FROM 
	united_nations.Geographic_Location as loc 
LEFT JOIN 
	united_nations.Economic_Indicators as eco 
	ON eco.Country_name = loc.Country_name 
WHERE REGION LIKE '%Oceania%' 

UNION 

SELECT 
	loc.Country_name, 
	eco.Time_period, 
	IFNULL(eco.Pct_unemployment, 33.65) as Pct_unemployment_imputed 
FROM 
	united_nations.Geographic_Location as loc 
LEFT JOIN united_nations.Economic_Indicators as eco 
	ON eco.Country_name = loc.Country_name 
WHERE REGION LIKE '%Sub-Saharan Africa%';

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:100px"  ;/>
</div>